@import "../../../scss/mixins";

.wrapper {
  @include flex(space-between);
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}