@import "../../scss/variables";

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background: var(--bg_modal);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  @include flex(null, center, column);
  opacity: 0;
  @include transition();
  transform: translateY(-100px);

  &.aminShow {
    z-index: 100;
    opacity: 1;
    @include transition();
    transform: translateX(0);
  }

  .header {
    margin-top: 80px;
    @include flex(null, center, column);

    .title {
      color: var(--title_color);
      font-weight: 500;
      font-size: 36px;
      line-height: 52px;

      @media screen and (max-width: $tabletWidth) {
        font-size: 32px;
        line-height: 48px;
      }

      @media screen and (max-width: $mobileWidth) {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
      }

    }

    .subTitle {
      font-size: 20px;
      line-height: 30px;

      @media screen and (max-width: $tabletWidth) {
        font-size: 18px;
        line-height: 26px;
      }

      @media screen and (max-width: $tabletWidth) {
        font-size: 20px;
        line-height: 30px;
      }


      &__red {
        color: #FF868E;
      }
    }
  }
}