@import "src/scss/variables";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg_color);
  display: none;
  z-index: 100;
  opacity: 0;
  @include transition();
  padding: 20px;

  &.animShow {
    @include transition();
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    @include flex(center, flex-start);
  }

  .menuCards {
    width: 100%;
    margin-top: 60px;
    @include flex(center);
    gap: 10px;

    @media screen and (max-width: $mobileWidth) {
      @include flex(center, center, column);
    }
  }

  .userName {
    @include flex(center, center);
    gap: 20px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
}