@import "../../../scss/variables";

.navButtons {
  position: absolute;
  @include flex(flex-start, center);
  bottom: -40px;
  width: 248px;
  height: 80px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid var(--bg_white-grey);
  background: white;

  @media screen and (max-width: $mobileWidth) {
    width: 186px;
    height: 60px;
  }

  .navButtonWrapper {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    margin-right: 4px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    outline: none;
    border: none;
    outline-offset: -7px;

    &:focus-visible {
      outline: 2px solid $main_color;
    }

    &:active {
      svg {
        transform: translateY(4px);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: white;

      @media screen and (max-width: $mobileWidth) {
        width: 22.5px;
        height: 22.5px;
      }
    }

    .heartImg {
      @media screen and (max-width: $mobileWidth) {
        width: 22.5px;
        height: 19.5px;
      }
    }

    &.likeBg {
      background: #97EAB9;
    }

    &.heartBg {
      background: #FF868E;

      img {
        border-radius: unset;
      }

      &:active {
        img {
          transform: translateY(4px);
        }
      }
    }

    &.unlikeBg {
      background: #FFD280;
    }
  }
}
