@import '../../scss/variables';

.wrapper {
  width: 100%;
  @include flex(flex-end, center);
  gap: 10px;

  .withSortButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  @media screen and (max-width: 560px) {
    @include flex(center, flex-start, column);

    > div:nth-child(1) {
      width: 100%;
    }
  }
}