@import "src/scss/variables";

.wrapper {
  width: 100%;

  .body {
    user-select: none;
    padding: 20px;
    background: var(--bg_white-grey);
    border-radius: 20px;
    height: 800px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 1s ease;

    @media screen and (max-width: $mobileWidth) {
      height: auto;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease;
  }
}