@import "../../../scss/variables";

.wrapper {
  height: 320px;
  width: 100%;
  margin: 40px 0 32px 0;
  @include flex(center, center);
  background: var(--bg_blackWhite);
  border: 2px dashed var(--bg_input_search);
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $mobileWidth) {
    margin: 20px 0 20px 0;
  }

  .customBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex(center, flex-end);

    p {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;

      @media screen and (max-width: $mobileWidth) {
        font-size: 15px;
      }

      .blackWhite {
        color: var(--title_color);
      }
    }
  }

  .uploadBtn {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}