@import "../../../../scss/variables";

.backBtn {
  background: var(--bg_input_search);
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  @include transition();

  svg {
    fill: #FF868E;
    @include transition();
  }

  &:hover {
    background: #FF868E;

    svg {
      fill: #FFFFFF;
    }
  }
}
