@import "src/scss/variables";

.voting {
  width: 100%;

  &__body {
    user-select: none;
    padding: 20px;
    background: var(--bg_white-grey);
    border-radius: 20px;
    min-height: 782px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__breadCrumbs {
    @include flex(flex-start, center);
    margin-bottom: 20px;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__img_wr {
    width: 100%;
    min-height: 360px;
    border-radius: 20px;
    @include flex(center, center);
    margin-bottom: 52px;
    position: relative;

    img {
      max-height: 360px;
      border-radius: 20px;
    }
  }
}
