@import "src/scss/variables";

.voting {
  width: 100%;

  &__body {
    user-select: none;
    padding: 20px;
    background: var(--bg_white-grey);
    border-radius: 20px;
    height: 782px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__img_wr {
    width: 100%;
    min-height: 360px;
    border-radius: 20px;
    @include flex(center, center);
    margin-bottom: 52px;
    position: relative;

    img {
      max-height: 360px;
      border-radius: 20px;
    }
  }


  &__pagination_wr {
    width: 300px;
    margin: 25px auto 0px auto;
    @include flex(space-between, center);

    /*a {
      &:hover {
        min-width: 90px;
        background: #FBE0DC;
        transition: all 0.2s ease;
      }

      &:active {
        background: #FF868E;
      }

    }*/

    .next {
      text-align: right;
    }

    .prev {
      text-align: left;
    }
  }

  .pagination__favourites {
    margin-bottom: 25px;
  }
}
