@import "../../scss/variables";

.imgWrapper {
  width: 100%;
  min-height: 360px;
  border-radius: 20px;
  @include flex(center, center);
  margin-bottom: 52px;
  position: relative;

  img {
    max-height: 360px;
    border-radius: 20px;
  }
}

.messages {
  margin-top: 52px;
}

