@import "../../../scss/variables";

.wrapper {
  width: 100%;
  @include flex(flex-end);
  min-width: 560px;

  @media screen and (max-width: 928px) {
    min-width: 500px;
  }

  .container {
    width: 100%;
    min-height: 840px;
    position: relative;
  }
}