.wrapper {
  border-radius: 20px;
  width: 100%;
  min-height: 840px;
  margin: 0 auto;
  background: #FBE0DC;
  position: relative;
  
  &__img_wr {
    width: 833px;
    height: 900px;
    position: absolute;
    right: -45px;
    top: -30px;

    @media (max-width: 1400px) {
      width: 760px;
    }

    @media (max-width: 1290px) {
      width: 700px;
    }
  }
}
