@import '../../scss/variables';

.wrapper {
  display: grid;
  gap: 0 20px;
  grid-template-areas:
          'logo userName switcher';

  @media screen and (max-width: $tablet_width) {
    gap: 20px;
    grid-template-areas:
                'logo switcher'
                'userName userName';
  }
  @media screen and (max-width: 768px) {
    gap: 20px;
    grid-template-areas:
            'logo userName switcher';
  }

  .logo {
    grid-area: logo;
  }
}