@import 'src/scss/variables';

.breedSelect {
  &__control {
    margin-left: 10px;
    height: 40px !important;
    margin-right: 10px !important;
    background: var(--bg_color) !important;
    border: none !important;
    border-radius: 10px !important;
    outline: none;
    box-shadow: none !important;
    cursor: pointer !important;
    transition: initial;
    padding: 2px;

    &--menu-is-open {
      .breedSelect__dropdown-indicator {
        transform: rotate(180deg);
      }
    }

    &--menu-is-focused {
      border-color: red !important;
    }
  }
}