@import '../../../scss/variables';

.nickNameWrapper {
  grid-area: userName;
  position: relative;

  .iconWrapper {
    cursor: pointer;
    width: 100%;
    height: 100%;
    @include flex(center, center);
    z-index: 10;
    background: transparent;
    border: initial;
    color: $main_color;

    @media screen and (max-width: $tabletWidth) {
      @include flex(flex-start, center);
    }

    svg {
      fill: var(--btn_color);
      width: 24px;
      height: 24px;
      margin-right: 5px;
      @include transition();

    }
  }

  .popupWrapper {
    position: absolute;
    @include flex(center, center, column);
    top: 30px;
    left: 0;
    background: var(--bg_dark_grey__white);
    border-radius: 10px;
    padding: 10px;
    height: auto;
    @include transition();
    opacity: 0;
    transform: translateY(-50px);
    z-index: -10;

    button {
      font-size: 14px;
      padding: 5px 20px;
    }

    @media screen and (max-width: $tabletWidth) {
      button {
        font-size: 12px;
        padding: 1px 12px;
      }
    }

  }

  input {
    max-width: 80%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--bg_grey-white_white-rgba);
    color: $main_color;
    padding: 5px;
    margin-bottom: 10px;

    @media screen and (max-width: $tabletWidth) {
      padding: 4px;
    }


    &:focus {
      outline: 2px solid #FF868E;
      @include transition();

      @include placeholder {
        opacity: 0;
      }
    }
  }

  label {
    margin-bottom: 10px;

    @media screen and (max-width: $tabletWidth) {
      margin-bottom: 5px;
    }
  }

  .visible {
    opacity: 1;
    z-index: 9;
    transform: translateY(0);
    @include transition();
  }
}