@import "src/scss/variables";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include flex(center, center);
  opacity: 0;
  transform: translateY(-200px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 50;
  padding: 30px;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
  }

  .body {
    max-width: 750px;
    width: 100%;
    background: var(--bg_grey-white_white-rgba);
    border-radius: 20px;
    padding: 20px;
    @include flex(null, null, column);
    box-shadow: 0 2px 5px 1px var(--bg_dark_grey__white);

    h2 {
      margin-bottom: 10px;
    }

    .formWrapper {
      margin-top: 30px;
      @include flex(space-between);
      gap: 15px;

      @media screen and (max-width: 768px) {
        @include flex(center, center, column);
      }

      @media screen and (max-width: $mobileWidth) {
        margin-top: 20px;
      }

      input {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        text-indent: 5px;
        background: var(--bg_dark_grey__white);
        color: $main_color;
        flex-grow: 1;

        @include placeholder {
          opacity: .7;
          @include transition();
        }

        &:focus {
          @include transition();

          @include placeholder {
            opacity: 0;
          }
        }
      }
    }
  }
}