@import "src/scss/variables";

.wrapper {
  @include flex(null, center, column);
  max-width: 640px;
  width: 100%;
  height: 320px;

  .custom_wrapper {
    margin: 40px 0 32px 0;
    width: 100%;
    min-height: 100%;
    @include flex(center, center);
    background: var(--bg_blackWhite);
    border: 2px dashed var(--bg_input_search);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .uploadBtn {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .customBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;

      .blackWhite {
        color: var(--title_color);
      }
    }
  }

  .imgInfo {
    margin-bottom: 32px;
    font-size: 20px;
  }
}