@import "../../../scss/variables";

.wrapper {
  width: 100%;
  @include flex(center);
  z-index: 5;

  .container {
    max-width: 480px;
    width: 100%;

    @media screen and (max-width: 1080px) {
      max-width: 480px;
    }
  }
}
