@import "../../../scss/variables";

.wrapper {
  width: 100%;
  @include flex(center);
  z-index: 5;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
