@import "variables";

.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  color: var(--title_color);
}

.btn {
  padding: 10px 10px;
  background: var(--bg_white-grey);
  color: var(--btn_color);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease;
  user-select: none;
}

.noItemFound {
  width: 100%;
  height: auto;
  background: var(--bg_color);
  color: $main_color;
  padding: 18px 20px;
  border-radius: 10px;
  margin-bottom: -20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.breadCrumbs {
  @include flex(flex-start, center, center);
  margin-bottom: 20px;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.items {
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
  min-height: 360px;

  &Img_wr {
    position: relative;
    transition: all .5s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    &:first-child,
    &:nth-child(10n+1),
    &:nth-child(10n-2) {
      grid-row: span 2;
    }

    &:nth-child(5n-1),
    &:nth-child(10n-1) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &.unHoverClass {
      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          background: initial;
          border-radius: 0;
          transition: initial;

        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 134, 142, 0);
      border-radius: 20px;
      transition: all .4s ease;
    }


    &:hover {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 134, 142, 0.6);
        border-radius: 20px;
      }

      .item__hoverIcon, .hoverBtn {
        opacity: 1;
        transform: translateY(0)
      }
    }

    .item__hoverIcon, .hoverBtn {
      position: absolute;
      z-index: 5;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      opacity: 0;
      transform: translateY(-30px);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: 40px;
      transition: all .5s ease;
      background: var(--bg_white-grey);

      img {
        border-radius: unset;
      }
    }

    .hoverBtn {
      top: initial;
      left: 10px;
      bottom: 10px;
      width: calc(100% - 20px);
      color: var(--btn_color);
      @include flex(center, center);
    }
  }
}
