@import "variables";

.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  color: var(--title_color);
}

.btn {
  padding: 10px 10px;
  background: var(--bg_white-grey);
  color: var(--btn_color);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease;
  user-select: none;

  &:hover {
    background: #FBE0DC;
  }

  &:active {
    background: #FF868E;
    color: #FFFFFF;
  }
}

.noItemFound {
  width: 100%;
  height: 60px;
  background: var(--bg_color);
  color: $main_color;
  padding: 18px 20px;
  border-radius: 10px;
}
