@import "variables";

.App {
  opacity: 0;
  transition: all 2s ease;
}

.fadeIn {
  opacity: 1;
}


.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  color: var(--title_color);
}

.btn {
  padding: 10px 10px;
  background: var(--bg_white-grey);
  color: var(--btn_color);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  @include transition();
  user-select: none;
}