@import "variables";

.items {
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns:  1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
  min-height: 360px;

  @media screen and (max-width: $mobileWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__imgWrapper {
    position: relative;
    @include transition();
    width: 100%;

    @media screen and (max-width: $mobileWidth) {
      height: 306px;
    }
    @media screen and (max-width: $smallMobile) {
      height: 206px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    &:first-child,
    &:nth-child(10n+1),
    &:nth-child(10n-2) {
      grid-row: span 2;
    }

    &:nth-child(5n-1),
    &:nth-child(10n-1) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &.unHoverClass {
      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          background: initial;
          border-radius: 0;
          transition: initial;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 134, 142, 0);
      border-radius: 20px;
      @include transition();
    }


    &:hover, &:focus-within {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 134, 142, 0.6);
        border-radius: 20px;
      }

      .items__hoverIcon, .hoverBtn {
        opacity: 1;
        transform: translateY(0)
      }
    }

    .items__hoverIcon, .hoverBtn {
      position: absolute;
      z-index: 5;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      opacity: 0;
      transform: translateY(-30px);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: 40px;
      @include transition();
      background: var(--bg_white-grey);

      img {
        border-radius: unset;
      }
    }

    .hoverBtn {
      top: initial;
      left: 10px;
      bottom: 10px;
      width: calc(100% - 20px);
      color: var(--btn_color);
      @include flex(center, center);
    }
  }
}