@import "mixins";

$bg_light-dark: #282828;
$main_color: #8C8C8C;

:root, [data-theme="light"] {
  --bg_color: #F8F8F7;
  --title_color: #000000;
  --bg_white-grey: #FFFFFF;
  --btn_color: #FF868E;
  --bg_input_search: #FBE0DC;
  --bg_blackWhite: #FFFFFF;
}

[data-theme="dark"] {
  --bg_color: #1D1D1D;
  --title_color: #FFFFFF;
  --bg_white-grey: #292929;
  --bg_input_search: #543C3D;
  --bg_blackWhite: #343434;
}
